name: check-pr
on:
  pull_request_target:
    types: [opened, synchronize]
jobs:
  check-aictl:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Fetch base branch
        run: git fetch origin ${{ github.event.pull_request.base.ref }}
      - name: Get the diff between PR and target
        id: git-diff
        run: |
          git remote -v
          git diff --name-only HEAD origin/${{ github.event.pull_request.base.ref }}
          diff_files=$(git diff --name-only HEAD origin/${{ github.event.pull_request.base.ref }}ã€€| tr '\n' ',' | sed 's/,$/\n/')
          echo "diff_files: ${diff_files}"
          echo "diff-files=${diff_files}" >> "$GITHUB_OUTPUT"
      # specify dir where action.yml exists
      - uses: ./
        with:
          query: "Could you give me a code review for each files with filename?"
          text-files: ${{ steps.git-diff.outputs.diff-files }}
          verbose: "true"
        env:
          AICTL_OPENAI_API_KEY: ${{ secrets.AICTL_OPENAI_API_KEY }}
